body {
	background-color: blue;
	color: rgb(255, 255, 255);
	font-style: normal;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topic {
	text-align: center;
}
.test-box {
  border: 20px solid rgb(18, 154, 196);
  padding: 6px;
  margin: 20px;
}

.p1 {
	text-align: center;
}

img {
	float: left;
	float: 
}
.column {
	width: 750px;
	float: right;
	
}

